.BadgeNew__hero {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
  
}

.Badge__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
.mama {
  width: 50px; 
}

.img {
  width: 50%;
}

.ccolumn{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
